<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OOPs ! Linked Expired</title>
</head>
<body>
    <div id="content" class="container py-5 container-limit--md">

  <div class="card">
    <div class="p-5 container container-limit--sm">
      <div id="forgottenPassword">
        <h1>Link Expired</h1>
        <p>Your password reset link has expired, if you still wish to reset your forgotten password please go to the forgotten password page</p>
        <a class="btn btn-outline-primary btn-lg" href="/Account/ForgottenPassword">Forgotten Password ?</a>
      </div>
    </div>
  </div>

</div>
</body>
</html>
